<template>
  <div id="app">
    <navbar/>
    <div class="container">
      <Errors v-if="error" :msg="error"/>
      <router-view/>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import navbar from "@/components/Navbar";
import Errors from "@/components/Errors";
export default {
  components: {
    navbar,
    Errors
  },
  computed: {
    ...mapGetters(["error"])
  }
}
</script>

<style>
.card {
  border-radius: 0px;
}
.btn {
  border-radius: 0px;
}
</style>