<template>
    <div>
        <h2>&nbsp;</h2>
        <div class="row">
            <div class="card mx-auto">
                <div class="card-header text-white bg-primary">Add Profile Info</div>
                <div class="card-body">
                    <form @submit.prevent="addInfo">
                        <div class="form-group">
                            <label for="name">Full Name</label>
                            <input id="name" type="text" placeholder="Full Name" name="name" v-model="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input id="email" type="text" placeholder="Email" name="email" v-model="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone No</label>
                            <input id="phone" type="text" placeholder="Phone" name="phone" v-model="phone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="dob">Data of Birth</label>
                            <input id="dob" type="date" placeholder="Date of Birth" name="dob" v-model="dob" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input id="address" type="text" placeholder="Address" name="address" v-model="address" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="status">Gender</label>
                            <select id="status" name="status" v-model="status" class="custom-select custom-select-sm">
                                <option selected>Select Status</option>
                                <option value="Man">Man</option>
                                <option value="Woman">Woman</option>
                            </select>
                            <!-- <input id="status" type="text" placeholder="Status" name="status" v-model="status" class="form-control"> -->
                        </div>
                        <input type="submit" class="btn btn-primary" value="Update" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from "vuex";
import axios from "axios";

export default {
    async mounted () {
    const user = await axios.get('/api/users/profile')
    // console.log(user)
    if (user.data) {
    const { data } = user;
    console.log(data)
      this.name = data.user.name;
      this.email = data.user.email;
      this.phone = data.user.phone;
      this.dob = data.user.dob;
      this.address = data.user.address;
      this.status = data.user.status;
    //   console.log(this.phone, this.dob, this.address, this.status)
    }
  },
  data() {
    return {
      name: "",
      email: "",
      phone: "",
      dob: "",
      address: "",
      status: ""
    };
  },
  methods: {
    ...mapActions(["update"]),
    addInfo() {
      let user = {
        name: this.name,
        email: this.email,
        phone: this.phone,
        dob: this.dob,
        address: this.address,
        status: this.status
      };
      this.update(user).then(res => {
        if (res.data.ok === 1) {
          this.$router.push("/profile");
        //   console.log('check2')
        }
      });
    }
  }
};
</script>

<style>
.card {
  width: 60%;
  border-radius: 0;
}
.btn {
  border-radius: 0;
}
.form-control {
  border-radius: 0;
}  
</style>