<template>
    <div>
        <h2>&nbsp;</h2>
        <div class="card mx-auto" v-if="user">
          <div class="card-header">
            <ul class="list-group">
                <li class="list-group-item"><strong>Full Name:</strong> {{ user.name }}</li>
                <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
                <li class="list-group-item"><strong>Username:</strong> {{ user.username }}</li>
            </ul>
          </div>
        </div>
        <div class="card mx-auto" v-if="user">
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <th>Phone No:</th>
                  <td>{{ user.phone }}</td>
                </tr>
                <tr>
                  <th>Date of Birth:</th>
                  <td>{{ user.dob }}</td>
                </tr>
                <tr>
                  <th>Address:</th>
                  <td>{{ user.address }}</td>
                </tr>
                <tr>
                  <th>Gender:</th>
                  <td>{{ user.status }}</td>
                </tr>
              </tbody>
            </table>
            <router-link to="/addinfo" class="card-link ad">Add Profile Info</router-link>
          </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  computed: mapGetters(["user"]),
  methods: {
    ...mapActions(["getProfile"])
  },
  created() {
    this.getProfile();
  }
};
</script>

<style>
.card {
  width: 60%;
  border-radius: 0;
}
.btn {
  border-radius: 0;
}
.form-control {
  border-radius: 0;
}  
</style>