<template>
  <div class="about">
    <h1>&nbsp;</h1>

      <div class="card mx-auto">
        <div class="card-header text-center">
          <h3>User List</h3>
        </div>
          <table class="table text-center">
            <thead>
              <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="user in users" :key="user._id">
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  data: function () {
        return {
          users: []
        }
    },
    methods: {

      getUsers: function() {

        var app = this;

         axios.get('/api/users/userlist')
            .then(function (response) {
            app.users = response.data;
        })
        .catch(function (error) {
            console.log(error.message);
        });

      }

    },
    created() {
      this.getUsers();
    }
};
</script>

<style>
  .card {
  width: 60%;
  border-radius: 0;
}
.btn {
  border-radius: 0;
}
.form-control {
  border-radius: 0;
}  
</style>
